.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 80%;
    height: auto;
    z-index: 10;
    margin-bottom: 2rem;
}

.copyright {
    font-size: 1rem;
}

.contact{
    font-size: 1rem;
}