@import url('https://api.fontshare.com/v2/css?f[]=synonym@400,500,700,1&f[]=chillax@200,300,400,500,600,700,1&display=swap');


/* Site Stylesheet
  1. Global Styles
  2. Typography Styles
  3. Variable CSS Styles
  4. Page Styles
  5. Media Queries Styles

  Note: Components are styled within their own folder

======================================== */

/* 1. Global Styles
======================================== */

/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body{
  background-color: var(--background-color);
  color: var(--text-primary);
  overflow: hidden;
  font-family: 'Synonym', sans-serif;
}

main {
  background-color: var(--background-color);

}

ul{
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  color: var(--text-primary);
  background-color: var(--background-primary);
  transition: all .5s;
  cursor: pointer;
  border: none;
  outline: none;
}

img{
  max-width: 100%;
  height: auto;
}



/*
========================================
  2. Variable CSS Styles
======================================== */
:root {
--background-color: #000;
--text-primary: #f2f2f2;
--yellow: #FFF9AA;
--orange: #FFCC98;
--red: #fc6c84;    
}




/*
======================================== 
  3. Typography Styles
======================================== */
/*Google Fonts*/

p, a {
  font-family: 'Synonym', sans-serif;
  font-weight: normal;
  color: var(--text-primary);
  font-size: 100%;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Chillax', sans-serif;
  font-weight: 400;
  color: var(--text-primary);
}

body,
button,
input,
textarea{
  font-family: 'Synonym', sans-serif;
  font-size: 1rem;
}

/*
========================================
  4. Layout
======================================== */
.main {
  width: 100%;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  /* background-color: var(--background-primary); */
  width: 100%;
  max-width: 100%;
}

.section__title{
  font-size: 2.5rem;
  color: var(--text-primary);
}

.section__subtitle {
  font-size: 1.2rem;
  font-weight: 200;
}



.section__title, 
.section__subtitle {
  text-align: center;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.centered {
  display:flex;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/*=========== BUTTONS =============*/
.button {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #000;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  transition: width 2s, height 4s;
}

.button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #f2f2f2,
    #FFF9AA,
    #FFCC98,
    #fc6c84,
    #f2f2f2,
    #FFF9AA,
    #FFCC98,
    #fc6c84    
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowingbn 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowingbn {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button:active {
  color: #000;
}

.button:active:after {
  background: transparent;
}

.button:hover:before {
  opacity: 1;
}



.button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/* .btn-1 {
  scale: 0.5;
  display: block;
  cursor: pointer;
  color: white;
  margin: 0 auto;
  width: 140px;
  white-space: nowrap;
  position: absolute;
  text-decoration: none;
  font-weight: 500;
  border-radius: 30px;
  overflow: hidden;
  padding: 3px;
  isolation: isolate;
  right: 0;
  font-size: 0.8rem;
}

.btn-1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  opacity: 0;
  background: linear-gradient(
    115deg,
    #4fcf70,
    #fad648,
    #a767e5,
    #12bcfe,
    #44ce7b
  );
  background-size: 25% 100%;
  animation: an-at-keyframe-css-at-rule-that-translates-via-the-transform-property-the-background-by-negative-25-percent-of-its-width-so-that-it-gives-a-nice-border-animation_-We-use-the-translate-property-to-have-a-nice-transition-so-it_s-not-a-jerk-of-a-start-or-stop
    0.75s linear infinite;
  animation-play-state: paused;
  translate: -5% 0%;
  transition: translate 0.25s ease-out, opacity 0.175s ease-out;
}

.btn-1:hover::before {
  opacity: 1;
  animation-play-state: running;
  transition-duration: 0.75s;
  translate: 0% 0%;
}

@keyframes an-at-keyframe-css-at-rule-that-translates-via-the-transform-property-the-background-by-negative-25-percent-of-its-width-so-that-it-gives-a-nice-border-animation_-We-use-the-translate-property-to-have-a-nice-transition-so-it_s-not-a-jerk-of-a-start-or-stop {
  to {
    transform: translateX(-25%);
  }
}

.btn-1 span {
  position: relative;
  display: block;
  padding: 1rem 1.5rem;
  font-size: 18px;
  background: #000;
  border-radius: 30px;
  height: 100%;
  text-align: center;
}
 */

/*
========================================
  5. Media Queries Styles
======================================== */

/*=========== BREAKPOINTS =============*/
/*Large  Screens and Devices (e.g.:DESKTOPS)*/
@media screen and (max-width: 992px) {

}

/*Medium Screens and Devices (e.g.:TABLETS)*/
@media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) {

}

/*Small Screens and Devices (e.g.:MOBILE)*/
@media screen and (max-width: 390px) {

}