/* Header */
.header {
  position: fixed;
  top: 0;
  width: 80%;
  height: auto;
}

/* NavBar  */
.navbar {
  width: 100%;
  padding: 1.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  justify-content: space-between;

  .logo {
    font-size: 1.2rem;
    font-weight: lighter;
    font-family: "Chillax", sans-serif;
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  /* Animations */

  /**
 * ----------------------------------------
 * @animation text-shadow-drop-center
 * ----------------------------------------
 */
  @-webkit-keyframes text-shadow-drop-center {
    0% {
      text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
    }
  }
  @keyframes text-shadow-drop-center {
    0% {
      text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
    }
  }
}
